.container {
  display: flex;
  padding: 20px;

  > * + * {
    margin-left: 20px;
  }
}

.info {
  margin-top: 50px;
  min-width: 200px;
}

.warSituation {
  margin-top: 50px;
  min-width: 200px;
}

