@import "../../styles/variables";

$top-offset: $cellSize;

.mapContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.controls {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  right: 0;
  top: $cellSize;
  height: calc(100% - $cellSize * 2);
  width: $cellSize;
}

.mapWrap {
  position: relative;
  display: flex;
  padding-top: $top-offset;
  padding-left: $cellSize;
  padding-right: $cellSize;
  padding-bottom: $cellSize;
}

.map {
  display: grid;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  position: relative;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $top-offset;
  display: flex;
  justify-content: center;
  align-items: center;
}
