.wrap {
  display: flex;
  width: 100%;
}

.mapWrap {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.infoWrap {
  display: flex;
  width: 400px;
  //height: 100%;

  :global(.MuiPaper-root) {
    width: 100%;
  }
}
