.arrows {
  position: relative;
  width: 200px;
  height: 200px;

  > * {
    cursor: pointer;
  }
}

.top {
  left: 50%;
  transform: translate(-50%);
  position: absolute;
}

.left {
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
}

.right {
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute
}

.bottom {
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  position: absolute
}
