@import "../../styles/variables";

.mapContainer {
  display: flex;
  align-items: center;

  > * + * {
    margin-left: 10px;
  }
}

.mapWrap {
  position: relative;
  display: flex;
  padding-top: $cellSize;
  padding-left: $cellSize;
  padding-bottom: $cellSize;
}

.map {
  display: grid;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  position: relative;
}

.spinnerOverlay {
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: rgba(255, 255, 255, 0.3);
}

.current {
  border: 1px solid red
}

.mapControlsWrap {
  position: absolute;
  top: 0;
  width: calc(100% - $cellSize);
  height: $cellSize;
  display: flex;
  justify-content: center;
  align-items: center;
}
