@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}

.icon {
  font-weight: bold;
}

.animation {
  animation: flickerAnimation 1.5s infinite;
}

.fromIcon {
  color: green;
}

.toIcon {
  color: red;
}

.isReturning {
  color: orange;
}
